<h3>Signup here</h3>

<form method="post" action="/signup"> 
	<label>Username:</label>
	<input type="text" name="username">
	<br>

	<label>password:</label>
	<input type="password" name="password">
	<br>

	<label>email:</label>
	<input type="email" name="email">
	<br>

	<input type="submit" name="signup">
</form>