<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Daily Deals Orgenaizer</h2>

    <div class="content">
     <p>Welcome to dealme</p>

     <a href="/signup">Signup here</a>
     <br>
     <a href="/login">Login</a>

    </div>

    <div class="sidebar">
      <h2><a href="/categories">Categories</a></h2>
     <h2><a href="/deals">Deals</a></h2> 
    </div>

  </div>
</div>
